.container-fluid {
  display: flex;
  background-color: #f8f8f8; }

.top-line {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  background-color: #666666; }

.search-bar {
  display: flex;
  height: 100px;
  justify-content: flex-end; }

.top-line-rectangles {
  display: flex;
  justify-content: flex-start; }

.top-menu-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;
  color: #666666;
  font-family: Verdana, Geneva,sans-serif;
  font-size: 14px;
  font-weight: bold; }

.top-menu-text {
  font-family: Georgia, Times, 'Times New Roman';
  font-size: 36px;
  font-weight: 400; }

/*# sourceMappingURL=main.css.map */
